* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", sans-serif;
  background: url('asset/bengaluru-image.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #f2f4f3;
}

header {
  background: rgba(8, 8, 8, 0.7);
  padding: 2rem;
  text-align: center;
}
header h1 {
  font-size: 2.5rem;
}
header p {
  color: #eee0e0;
}
nav ul {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  list-style: none;
  margin-top: 1rem;
}
nav a {
  color: #eee0e0;
  text-decoration: none;
}
#hero {
  padding: 6rem 2rem;
  text-align: center;
  background: rgba(8, 8, 8, 0.7);
}
.hero-content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.btn {
  background: #04f96a;
  padding: 0.8rem 1.5rem;
  color: rgb(4, 0, 0);
  text-decoration: none;
  border-radius: 5px;
}
section {
  padding: 3rem 2rem;
  background-color: rgba(8, 8, 8, 0.7);
  margin: 1rem 0;
}
h2 {
  text-align: center;
  margin-bottom: 2rem;
}
.features-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.feature-card {
  background: #05a8ef91;
  padding: 1.5rem;
  border-radius: 8px;
  width: 280px;
}
form {
  text-align: center;
}
input[type="file"] {
  margin-top: 1rem;
}
button {
  margin-top: 1rem;
  background: hsl(127, 91%, 43%);
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  cursor: pointer;
}
#report {
  margin-top: 2rem;
  text-align: center;
}
footer {
  text-align: center;
  padding: 2rem;
  background: rgb(8, 8, 8, 0.7);
}
footer a {
  color: #0ef5e2;
  margin: 0 1rem;
}
@media (max-width: 768px) {
  .features-container {
    flex-direction: column;
    align-items: center;
  }
}
